<div class="registerdiv">
    <form action="/users/register" method="POST">
    <div>
        <label>
            <input type="text" name="firstName" placeholder="First Namaste" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="lastName" placeholder="Last Namaste" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="username" placeholder="Usernamaste" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="email" placeholder="Emailaste" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="password" placeholder="Passwordaste" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <button type="submit" class="registerButton">Register</button>
        </label>
    </form>
    </div>
</div>